{% extends "/frontoffice/base.html.twig" %}

{% block title %}Tous les posts
{% endblock %}

{% block content %}
	<header id="head" class="secondary"></header>
	<div class="container">
		<div class="row">
			<header class="page-header">
				<h1 class="page-title">Tous les posts</h1>
			</header>
			{% if posts %}

				{% for post in posts %}
					<article class="col-sm-8 maincontent">

						<h3>{{ post.title }}</h3>
						<p>{{ post.chapo }}</p>
						<p>Ecrit par
							{{ post.autor.pseudo }}
							le
							{{ post.date | date("d/m/Y à h\\hm") }}</p>
						{% if post.modif != NULL %}
							<p>Dernière modification le
								{{ post.modif | date("d/m/Y à h\\hm") }}</p>

						{% endif %}
						<a href="index.php?action=post&id={{ post.id }}">Lire le post</a>
					</article>

				{% endfor %}

			{% else %}
				<p>Oups il n' y a rien ici</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
