{% extends "/frontoffice/base.html.twig" %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block content %}
	<header id="head" class="secondary"></header>
	<div class="container">
		<div class="row post-page">
			<header class="page-header">
				<h1 class="page-title">{{ post.title }}</h1>
			</header>
			<article class="col-sm-12 maincontent">
				<h3>{{ post.chapo }}</h3>
				<p>{{ post.content }}</p>
				<p>{{ post.autor.pseudo }}
					le
					{{ post.date | date("d/m/y à H\\hi")   }}
					{% if post.modif != NULL %}
						modifié le
						{{ post.modif  | date("d/m/y à H\\hi")   }}</p>
				{% endif %}
			</article>

			{% if session.user %}
				<form method="POST">
					<input type="hidden" id="token" name="token" class="form-control" value={{ token }} required>
					<label for="comment">Commentaire
					</label>
					<input type="text" id="comment" name="comment" class="form-control" required>


					<button class="btn btn-action" type="submit" value="Send comment">Valider</button>


				</form>
			{% endif %}
			<section class="com-section">
				<h4>Commentaires</h4>
				{% for key, message in flashes %}
					<div>
						<p class={{ key }}>{{ message }}</p>
					</div>
				{% endfor %}
				{% if comments %}
					{% for comment in comments %}
						<article class="col-sm-7">
							<h5>
								{{ comment.user.pseudo }}
								le
								{{ comment.date  | date("d/m/Y à h\\hi") }}
								<br>

							</h5>
							<p>{{ comment.text }}</p>

						</article>

					{% endfor %}
				{% else %}
					<h4>Aucun commentaires</h4>
				{% endif %}
			</section>
		{% endblock %}
