{% extends "/backoffice/base.html.twig" %}

{% block title %}Administration
{% endblock %}

{% block content %}
	<div class="app-main__inner">

		<div class="col-lg-12">
			<h2>Nouveau Post</h2>

			{% for key, message in flashes %}
				<div>
					<p class={{ key }}>{{ message }}</p>
				</div>
			{% endfor %}
			<form method="Post">
				<div class="row" style="display: flex">
					<input type="hidden" id="token" name="token" class="form-control" value={{ token }} required>
					<div class=" col-sm-10">
						<label for='title'>Titre</label>
						<input class="form-control" id="title" name="title" type="text" value={% if post.title %} {{ post.title }} {% else %} '' {% endif %} required>
					</div>
					<div class=" col-sm-10">
						<label for='chapo'>Chapô</label>
						<input class="form-control" id="chapo" name="chapo" type="text" value={% if post.chapo %} {{ post.chapo }} {% else %} '' {% endif %} required>
					</div>
					<div class="col-sm-10">
						<label for='content'>Article</label>
						<textarea id="content" name="content" class="form-control" rows="9" required>
							{% if post.content %}
								{{ post.content }}
							{% endif %}
						</textarea>
					</div>
					<div class="col-sm-6">
						<input class="btn btn-action" type="submit" value="Créer Post">
					</div>

				</div>
			</form>

		</div>
	</div>
{% endblock %}
