{% extends "/backoffice/base.html.twig" %}

{% block title %}Administration
{% endblock %}

{% block content %}

	<div class="app-main__inner">

		<div class="col-lg-12">
			<div class="main-card mb-3 card">
				<div class="card-body">
					<h5 class="card-title">Liste des utilisateurs</h5>
					{% for key, message in flashes %}
						<div>
							<p class={{ key }}>{{ message }}</p>
						</div>
					{% endfor %}
					<div class="table-responsive">
						<table class="mb-0 table table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>Nom</th>
									<th>Prénom</th>
									<th>Pseudo</th>
									<th>Grade</th>
									<th>Mail</th>
									<th>Date d'inscription</th>
									<th>Statut</th>
									<th>Administration</th>
								</tr>
							</thead>
							<tbody>
								{% for user in users %}
									<tr>
										<th scope="row">{{ user.id}}</th>
										<td>{{ user.name }}</td>
										<td>{{ user.surname }}</td>
										<td>{{ user.pseudo }}</td>
										<td>{{ user.grade }}</td>
										<td>{{ user.email }}</td>
										<td>{{ user.date|date("d/m/y à H\\hm")   }}</td>
										<td>{{ user.state }}</td>
										<td>
											<form method='POST'>
												<button type="submit" name="delete" value="{{ user.email }}" class="btn-wide btn-shadow btn btn-danger">Supprimer</button>
											</form>
											<form method="post" action="index.php?action=userAccount">
												<button name="mail" value="{{ user.email }}" class="btn-wide btn btn-success">
													Modifier
												</button>
											</form>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
