{% extends "/backoffice/base.html.twig" %}

{% block title %}Administration
{% endblock %}

{% block content %}

	<div class="table-content">
		<div class="row">
			<div class="col-md-10">
				<div class="main-card mb-3 card">
					<div class="card-body">
						{% for key, message in flashes %}
							<div>
								<p class={{ key }}>{{ message }}</p>
							</div>
						{% endfor %}
						<h5 class="card-title">{{ user.name }}
							{{ user.surname }}</h5>
						<h6 class="card-subtitle">{{ user.pseudo }}</h6>
						<p>Adresse mail :
							{{ user.email }}</p>

						<form method="post">
							<div class="col-md-4">
								<div class="position-relative form-group">
									<label for="grade" class="">Grade</label>
									<select type="select" id="grade" name="grade" class="custom-select">
										<option value="member" {%if user.grade is same as 'member'%} selected {% endif %}>member</option>
										<option value="admin" {%if user.grade is same as 'admin'%} selected {% endif %}>admin</option>
										<option value="superAdmin" {%if user.grade is same as 'superAdmin'%} selected {% endif %}>superAdmin</option>


									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<button class="btn btn-action" name="mail" value="{{ user.email }}" type="submit">Modifier</button>
							</div>
						</form>

						<p>Inscrit le
							{{ user.date|date("d/m/y à H\\hm") }}</p>
						<form method="post"></form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
